.addCategoryBtn{
    -fx-background-color: #9747b6;
    -fx-text-fill: white;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
    -fx-pref-height: 36;
    -fx-pref-width: 36;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
.msgNewCategory{
    -fx-background-color: #9747b6;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-pref-width: 140;
    -fx-pref-width: 140;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 90 90 20;
}

.newCategoryPane{
    -fx-background-color: #9747b6;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
}
.btnSaveCategory{
    -fx-background-color: #7724a3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20 20 20 20;
}

.btnCancelCategory{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color:  #ac7feb;
}
.icon{
    -fx-background-color: gray;
    -fx-cursor: HAND;
}
.icon:hover{
    -fx-background-color: #616161;
}
.iconSelected{
    -fx-background-color: gray;
}

.navbar{
    -fx-background-color: #ECECEC;
}
.bg{
    -fx-background-color: linear-gradient(to bottom, #C49AE6,#5A7CF5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.threeDots {
    -fx-cursor: HAND;
}
.buttonCategory{
    -fx-cursor: HAND;
}
.buttonCategory:hover{
    -fx-background-color: #6c6c6c;
    -fx-text-fill: white;
}
.userIcon{
   -fx-background-color: black;
}