

.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:armed {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:determinate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button -radio:indeterminate {
    -fx-background-color: white;
    -fx-background-image: null;
}
.radio-button .dot {
    -fx-background-radius: 15px;
    -fx-padding: 8px;

}

.closeButton{
    -fx-background-radius: 50;
    -fx-background-color: red;
    -fx-border-radius: 50;
    -fx-alignment: center;
    -fx-cursor: HAND;
}
.closeButton:hover{
    -fx-background-color: #ef5555;
}
.closeBar{
    -fx-background-color: #DBC3F1FF;
}