.addTaskBtn{
    -fx-background-color: #71CCFF;
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-border-radius: 50 50 50 50;
    -fx-background-radius: 50 50 50 50;
    -fx-font-weight: bold;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-alignment: center;
    -fx-cursor: HAND;
}

.bg{
    -fx-background-color: linear-gradient(to bottom, #C49AE6,#5A7CF5);
}
.saveTaskButton{
    -fx-max-height: 50px;
    -fx-max-width: 50px;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-background-radius: 50px;
    -fx-background-color: #6980f3;
    -fx-border-radius: 50px 60px;
}
.button{
    -fx-cursor: HAND;
}
.scroll-pane{
    -fx-background-color:transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.title{
    -fx-font-size: 20px;
    -fx-text-fill: white;

}